* {
    font-family: 'Roboto', sans-serif;
  }
 :root {
  --space-xs: 2px;
  --space-s: 8px;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-xl: 30px;
  --space-xxl: 32px;
  --space-b: 36px;

  --size-sm: 10px;
  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-b: 24px;

  --color-border: #d3dee9;
  --color-primary: rgb(18, 18, 223);
  --color-white: #fff;
  --border-radius: 12px;
  --color-title:  #212529;
  --color-text: #343A40;

  --weight-title: 600;
  --weight-text:400;

  --page-width: 1000px;

  --font-weight: 700px;
 }
 
 /* *********************/

 body {
  background: #111827;
 }

 .page {
  padding: 0 15px;
  display:flex;
  justify-content: center;
  color: var(--color-white);
 } 

 .page_content {
  max-width: 1150px;
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: 60px;
 }
 
 /* ********************** */

 .header {
  display: flex;
 flex-direction: column;
 }

 .header_top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: var(--space-m) 0;
  border-bottom: 1px solid #253041;
  gap: var(--size-b);
 }

 .logo {
  display: flex;
  font-weight: var(--font-weight);
  font-size: var(--size-s);
  background-color: #885FFB;
  color: var(--color-white);
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  flex-direction: row;
  box-sizing: border-box;
  text-decoration: none;
  padding: var(--space-s) var(--space-m);
  width: 56px;
  height: var(--space-xl);
 }

 .logo:hover {
    opacity: 0.7;
 }

 .link_wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--space-m);
  gap: 670px;
 }

.links {
    display: flex;
    flex-direction: row;
    gap: var(--size-b);
    align-items: center;
}

 .link_item {
    display: flex; 
    align-items: center;
 }

 .link {
 text-decoration: none;
 color: var(--color-white);
 }
 
 .header_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-m);
    gap: var(--space-m);
    font-size: var(--size-s);
 }

 .ad_link{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--space-m);
 }

 .ad_logo {
  justify-content: center;
  font-weight: var(--font-weight);
  color: #885FFB;
  background-color: rgba(136, 95, 251, 0.2);
  padding: var(--space-xs) 6px;
  width: var(--space-xl);
  height: 18px;
  border-radius: 4px;
 }

 .ad {
    display: flex;
  padding: var(--space-xs);
 }

.user {
 display: flex;
 flex-direction: row;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 60px; 
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:  radial-gradient(100% 625% at 100% 100%, rgba(17, 24, 39, 0) 0%, rgba(78, 63, 146, 0.6) 100%);
    padding: 32px;
    gap: var(--size-l);
    border-radius: var(--border-radius);
    width: 1150px;
    height: 300px;
}  

.hero_title {
    font-size: var(--space-b);
    color: var(--color-white);
    font-weight: var(--font-weight);
}

.hero_descript {
    font-size: var(--size-d);
    color:  #9CA3AF;
    line-height: 150%;
    width: var(--weight-title);
    text-align: center;
}

.hero_button {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background: #885FFB;
   width: 150px;
   height: 40px;
   border-radius: var(--size-sm);

}

.hero_button:hover {
    opacity: 0.7;
    transform: scale(1.2);
    background-color: green;
}

.btn {
    color: var(--color-white);
    font-size: var(--size-d);
}

.about {
    display: flex;
    flex-direction: column;
    background:  rgba(42, 49, 65, 0.44);
    border-radius: var(--space-l);
    padding: var(--space-xxl);
    gap: var(--size-d);
}

.about_heading {
    font-size: var(--size-b);
    font-weight: var(--font-weight);
}

.about_info {
    display: flex;
    align-items: center;
    color: #9CA3AF;
    font-size: var(--size-s);
    line-height: 170%;
}



.articles_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 850px;
    padding: 0;
    height: 48px;
}

.our_articles {
    font-size: var(--space-xxl);
    width: 172px;
    height: var(--space-xxl);
}

.btn_articles {
  display: flex;
  align-items: center;
  justify-content: center;
  border:  1px solid #9CA3AF;
  border-radius: var(--size-sm);
  padding: var(--space-m) var(--size-l);

  color: var(--color-white);
}

.btn_articles:hover {
    opacity: 0.7;
    transform: scale(1.1);
    color:red;
}

.articles {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--space-xxl);
}


.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 18px;

}

.articles_img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: var(--size-sm);
}

.articles_badge {
    display: flex;
  
    align-items: flex-start;
    justify-content: center;
    padding: var(--space-xs) 6px;
    gap: var(--size-sm);
    
    position:absolute;
    width: 47px;
    height: var(--size-l);
    position: absolute;
    
    background: rgba(251, 95, 95, 0.5);
    border-radius: 4px;

    color: white;
}

.articles_name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    line-height: 100%;
}

.articles_descript {
    color: #9CA3AF;
    line-height: 150%;
    align-items: flex-start;
}

.botton {
    display: flex;
    flex-direction: row;
    background:  #885FFB;
    width: 85px;
   height: 40px;
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: center;
    gap: var(--space-s);


}


.botton:hover {
 opacity: 0.7;
 transform: scale(1.2);
 color: var(--color-white);
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: var(--space-b);

  align-self: stretch;
  

    width: 100%;
    border-top: 1px solid #202A3B;
    padding-top: var(--space-xm);
}

.copyright {
    display: flex;
    color: #9CA3AF;
    align-items: center;
}

.pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-xm);
}